/*

    CSS Rules' Order

    1.定位属性: position, float, z-index, clear
    2.盒模型相关属性: padding, margin, display, width, height, border
    3.字体相关
    4.CSS2 视觉相关属性 (background)
    5.CSS3 属性 (border-radius, box-shadow)

*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans','helvetica',arial,sans-serif;
    font-weight: 300;
    color: #62686f;

    /*fixed background*/
    background: fixed center url(../img/bg5.jpg);
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: 300;
}

.clearfix:after {
    content:"";
    display:table;
    clear:both;
}

.container {
    width: 960px;   /*convenient value for screen size and dividing*/
    margin: 100px auto;
    background-color: #D8D8D8;
}

.main-header {
    text-align: center;
    padding: 1px; /*disable margin collapsing*/
    background-image: url(../img/banner.jpg);
}

.main-header h1{
    color: white;
    font-size: 50px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
}

.main-header__avatar {
    display: block;
    margin: -70px auto 10px;
    border: 3px solid white;
    border-radius: 999px;
    box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
}

.main-nav {
    text-align: center;
    background-color: #333;
}

.main-nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.nostyle {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.inline-items li {
    display: inline-block;
}

.main-nav ul li {
    margin: 15px 10px;
}

.main-nav ul li a {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.main-nav ul li a:hover {
    text-decoration: underline;
}

.info-section {
    padding: 1px;
    background-color: #fff;
    text-align: center;
}

.whatido__skill-list {
    /*overflow: hidden;*/
    list-style: none;
    padding: 0;
    margin-top: 60px;
}

.whatido__skill {
    padding-top: 100px;
}

li.whatido__skill {
    float: left;
    width: 33.3%;
}

.whatido__skill--code {
    background: url(../img/skill-code.png) no-repeat center top;
}

.whatido__skill--design {
    background: url(../img/skill-design.png) no-repeat center top;
}

.whatido__skill--product {
    background: url(../img/skill-product.png) no-repeat center top;
}

.info-section {
    padding: 30px 60px;
}

.info-section header h2 {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.info-section header h2:after {
    display: block;
    margin: 20px auto 0px;
    width: 85px;
    content: "";
    border-bottom: 3px solid black
}

.info-section__description {
    font-style: italic;
}

.education-experience__list {
    overflow: hidden;
    list-style: none;
    text-align: left;
}

.education-experience__list li{
    padding: 30px;
}

.education-experience img {
    float: left;
    width: 180px;
    margin-right: 50px;
}

.education-experience__list__description {
    overflow: hidden;
}

.photos__list {
    list-style: none;
}

.photos__list li {
    float: left;
    width: 25%;
}

.photos__list img{
    width: 100%;
    padding: 10px;
}

.get-in-touch__list {
    list-style: none;
    overflow: hidden;
}

.get-in-touch__list li {
    float: left;
    width: 25%;
}

.contact form {
    margin: auto;
    width: 40%;
    text-align: left;
}

.form-item {
    margin: 20px auto;
    position: relative;
}

.form-item label {
    width: 100%;
    position: absolute;
    left: -100%;
    padding: 8px 8px 0 0;
    text-align: right;
}

.contact input,
.contact textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
}

.contact button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 9999px;

    background: #ffd524;

    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    color: #fff;
    box-shadow: 0 3px 0 #daae1d;
}


@media only screen and (max-width: 480px){

    .container {
        width: 100%;
    }

    .main-header h1 {
        font-size: 32px;
    }

    .main-nav ul {
        padding: 1px;
    }
    .main-nav ul li {
        display: block;
    }

    .info-section {
        padding: 10px;
    }

    li.whatido__skill {
        margin-bottom: 40px;
        width: 100%;
    }
    ul.education-experience__list {
        margin: 0 auto;
        padding: 10px;
    }

    .education-experience img {
        float: none;
        width: 180px;
        display: block;
        margin: 0 auto;
    }
    .education-experience header span {
        display: block;
    }

    ul.photos__list {
        padding: 10px;
    }

    .photos__list li {
        float: none;
        width: 100%;
    }

    ul.get-in-touch__list {
        padding: 10px;
    }

    .get-in-touch__list li {
        width: 50%;
        padding: 10px;
    }

    .get-in-touch__list img {
        width: 100%;
    }

    .contact form {
        padding: 10px;
        width: 100%;
    }

    .form-item label {
        position: static;
    }
}